
header {
	width: 1435px;
    background-color: #E8E8E8;
	height: 313px;
}

.headerimg{
	position: absolute;
width: 181px;
height: 177px;
left: 457px;
top: 80px;
}

h3 {
	position: absolute;
width: 291px;
height: 128px;
left: 719px;
top: 62px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: #FEC600;
}

.text {
	position: absolute;
width: 91px;
height: 42px;
left: 1108px;
top: 41px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;
}

.colorsandstyles {
	position: absolute;
width: 219px;
height: 42px;
left: 1108px;
top: 145px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;
}

.expensive {
	position: absolute;
width: 352px;
height: 42px;
left: 1452px;
top: 33px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;
}

.images {
	position: absolute;
width: 227px;
height: 42px;
left: 1452px;
top: 145px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;
}

.man {
	width:100%;
}

.typesoferrors {
	position: absolute;
width: 626px;
height: 500px;
left: 725px;
top: 200px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #000000;
}

.group1 {
	position: absolute;
	top:440px;
	right:-80px;
}

.place {
	position: absolute;
width: 562px;
height: 177px;
top: 700px;
right:650px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.textforplace {
	position:absolute;
	right: 600px;
	top: 900px;
	position: absolute;
width: 691px;
height: 430px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #000000;
}

.img_hand {
	position: absolute;
left: -850px;
top: 500px;

background: url(hand.png);
}

.vector {
	position:absolute;
	top: 1300px;
	right: 5px;
}

.place2 {
	position: absolute;
width: 702px;
height: 143px;
left: -100px;
top: 1550px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #000000;
}

.textforplace2 {
	position: absolute;
width: 654px;
height: 224px;
left: -80px;
top: 1740px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #000000;
}

.img_armory {
	position: absolute;
width: px;
height: px;
left: -900px;
top: 1387px;

background: url(armory.png);
}

article {
    position:relative;
    background-color: #E8E8E8;
    height: 2517px;
	width: 1435px;
	float: left;
}

footer {
    background-color: #FEC600;
    height: 400px;
	width: 1435px;
	float: left;
}

.img_vk {
	
}

.img_disk {
	position: absolute;
width: 109.17px;
height: 90px;
left: 473px;
top: 2840px;

background: url(diskord.png);
}

.countainer1 {
	width: 100%;
	margin: 0 430px;
}

.img_r9 {
	position:relative;
	left:524px; 
}

.img_pen {
	position:relative;
	bottom:643px;
}

.typesoferrors2 {
	position:relative;
	left:100px;
}