.countainer1 {
	margin:0 auto;
	width:80%;
	height:2500px;
    min-width:1289px;
}

header {
	margin-top:0;
	left:10%;
    background-color: #fff;
	height:215px;
	width:100%;
	float:left;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);
}

.imgdiv {
	width:180px;
	height:180px;
	float:left;
	margin:1% 1%;

}

.headerimg {
	width:200px;
	height:200px;
}

h3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 45px;
	/* identical to box height, or 150% */

	text-align: center;

	color: #FEC600;
}

.mt {
	float:left;
	margin:4.5% 2%;
}

.menu {
	width:600px;
	height:190px;
	float:left;
	margin:4% 2%;
}

.a {
	float:left;
	margin:8% 4%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 19px;
/* identical to box height */

	color: #000000;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.a:hover {
    background-size: 100% 2px;
}

.b {
	float:left;
	margin:8% 4%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 19px;

	color: #000000;
}

.meinarticle {
	width:100%;
	height: 2100px;
	left: 10%;
	top: 215px;

	background: #fff;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);	
}

.colorsarticle {
	width:100%;
	height: 2100px;
	left: 10%;
	top: 313px;

	background: #fff;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
	
}

.textarticle {
	width:100%;
	height: 2000px;
	left: 10%;
	top: 313px;

	background: #fff;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);	
}

.imagesarticle {
	width:100%;
	height: 2000px;
	left: 10%;
	top: 313px;

	background: #fff;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);	
}

.pen {
	margin:0 0;
	width:42%;
	height:643px;
}

.r9 {
	position:absolute;
	width:46%;
	min-width:748px;
	height:643px;
}

.slogan {
	background-image:url(../images/man.png);
	background-size: 3000px;
    //width:100%;
	height:775px;
	background-repeat:no-repeat;
}

.word {
	padding:27.5% 0 0 55%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	font-size: calc(24px + 16 * (100vw / 1440));
	line-height: 55px;

	text-align: center;

	color: #000000;
}

.second__word {
	position:absolute;
	margin:-400px 0% 15.85% 42%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	font-size: calc(24px + 16 * (100vw / 1440));
	line-height: 55px;
/* or 110% */

	text-align: center;

	color: #000000;
}

.unslogan {
	margin-top:0%;
	width:100%;
	color:#93a7a6;
}

.meinfirst {
	display:block;
	margin:10% 0% 1% 12.5%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 27px;
	/* or 90% */

	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.first {
	display:block;
	margin:0% 55% 0% 0%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.04em;
	
	color: #000000;
	
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.poboch__first {
	display:block;
	margin:5% 50% 0% 0%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
	/* or 112% */

	text-align: center;

	color: #000000;
}

.poboch_first_images {
	display:block;
	margin:10% 50% 0% 0%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
	/* or 112% */

	text-align: center;

	color: #000000;
}

.colors__first {
	display:block;
	margin:5% 50% 0% 0%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
	/* or 112% */

	text-align: center;

	color: #000000;
}

.fcheck {
	display:block;
	margin:2.5% 0% 0% 11%;
	border:none;
}

.img_meinfirst {
	margin:-18.5% 0% 0% 55%;
	width:413px; height:347px;
	max-width:100%;
}

.img_first {
	margin:-16% 0% 0 65%;
	width:332px;
	height:332px;
}

.img_first_images {
	margin:-18% 0% 0 65%;
	width:292px;
	height:275px;
}

.img_first_colors {
	margin:-22% 0% 0 62.5%;
	width:332px;
	height:320px;
}

.vector1 {
    margin:-17.5% 10% 0 10%;
	width:80%;
}

.poboch__vector1 {
    margin:7% 10% 0 10%;
	width:80%;
}

.poboch_vector_images {
	margin:10% 10% 0 10%;
	width:80%;
}

.meinsecond {
	display:block;
    margin:0% 0% 1% 45%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 27px;
	/* or 90% */
	
	text-align: center;
	
	color: #000000;
	
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.img_meinsecond {
	margin:-15% 10%;
	width:421px;
	height:300px;
}

.second {
	display:block;
	margin:1% 0% 0 45%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.04em;
	
	color: #000000;
	
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.poboch__second {
	display:block;
    margin:10% 0% 0 65%;
	width:19%;
    
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
	/* or 112% */
	
	text-align: center;
	
	color: #000000;
}

.scheck {
	border:none;
	margin:2.5% 0% 0 61%;
}

.img_second {
	margin:-21% 0% 0 -7%;
	width:851px;
	height:436px;
		
}

.img_second_colors {
	margin:-17% 10% 10% 10%;
	width:332px;
	height:320px;	
}



.img_second_images {
	margin:-17% 10% 10% 10%;
	width:400px;
	height:248px;	
}

.g {
	//margin-top:110px;
	width: 100%;
	height: 990px;
}

.f {
	margin-top:0px;
	height:610px;
}

.meinfooter {
	top:3100px; 
	left:10%;
    background-color: #93a7a6;
	height:200px;
	width:100%;
	float:left;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);		
}

.colorsfooter {
    background-color: #93a7a6;
	height:200px;
	width:100%;
	float:left;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);	
}

.textfooter {
    background-color: #93a7a6;
	height:200px;
	width:100%;
	float:left;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);		
}

.imagesfooter {
    background-color: #93a7a6;
	height:200px;
	width:100%;
	float:left;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);		
}

.footer {
	width:100%;
	height:200px;
	float:left;
	margin:2% 2%;	
}

.img_ds {
	width:10%;
}

.img_vk {
	width:8%;
}

