* {
	border:1px red solid;
}

header {
	width: 1435px;
    background-color: #E8E8E8;
	height: 313px;
}

.headerimg{
	position: absolute;
	width: 181px;
	height: 177px;
	left: 457px;
	top: 80px;
}

h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;

	color: #FEC600;
}

.text {
	float:left;
	margin:1% 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;

color: #000000;
}

.colorsandstyles {
	float:left;
	margin:1% 20%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;

	color: #000000;
}

.expensive {
	float:left;
	margin:8% 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;

	color: #000000;
}

.images {
	float:left;
	margin:8% 2%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;

	color: #000000;
}

.imgdiv {
	width:200px;
	height:200px;
	float:left;
	margin:3% 0.5%;
}

.mt {
	width:330px;
	height:190px;
	float:left;
	margin:3% 4%;
}

.menu {
	width:600px;
	height:190px;
	float:left;
	margin:4% 6%;
}









.typesoferrors2 {
	position: absolute;
	width: 626px;
	height: 500px;
	left: 100px;
	right:500px; 
	bottom: 1100px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	text-align: center;

	color: #000000;
	right:300px;
}

.group1 {
	position: absolute;
	top:457px;
	right:-710px;
	
}

.place {
	position: absolute;
	width: 562px;
	height: 177px;
	top: 700px;
	right:650px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.textforplace2 {
	position:absolute;
	right: 600px;
	top: 900px;
	position: absolute;
	width: 691px;
	height: 430px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	text-align: center;

	color: #000000;
}

.img_hand {
	position: absolute;
	left: -850px;
	top: 500px;

	background: url(hand.png);
}

.vector {
	position:absolute;
	top: 1300px;
	left: -18px;
}

.place2 {
	position: absolute;
	width: 702px;
	height: 143px;
	left: -100px;
	top: 1550px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	text-align: center;

	color: #000000;
}



.img_armory {
	position: absolute;
	width: px;
	height: px;
	left: -900px;
	top: 1387px;

	background: url(armory.png);
}

article {
    position:absolute;
	top:1000px;
    background-color: #E8E8E8;
    height: 2517px;
	width: 80%;
	float: left;
}

footer {
	position:absolute;
	top:4000px;
    background-color: #FEC600;
    height: 400px;
	width: 80%;
	float: left;
}

.img_disk {
	position: absolute;
	width: 109.17px;
	height: 90px;
	left: 473px;
	top: 3000px;

	background: url(diskord.png);
}

.countainer1 {
	width: 100%;
	margin: 0 430px;
	height:6000px;
}

.img_r9 {
	position:relative;
}

.img_pen {
	position:relative;
	bottom:643px;
	left:659px;
}

.typesoferrors2 {
	position:relative;
	left:100px;
}

.textforplace2 {
	position: absolute;
width: 654px;
height: 224px;
top: 1740px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 50px;
text-align: center;

color: #000000;
}

.texterror1 {
position:absolute;
top:800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #000000;
}

.show_text1 {
position:absolute;
top:1000px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
text-align: center;

color: #FEC600;
}

.img_text2 {
	position:absolute;
	top:1400px;
	left:300px;
}

.show_text2 {
position:absolute;
top:2000px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
text-align: center;

color: #FEC600;
}

.texterror2 {
	position:absolute;
top:1700px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #000000;
}